HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/restaurant-api/src/main/resources/static/
restaurant-api/src/test/
restaurant-common/src/main/resources/
restaurant-common/src/test/
restaurant-mapper/src/test/
restaurant-pojo/src/main/resources/
restaurant-pojo/src/test/
restaurant-service/src/main/resources/
restaurant-service/src/test/
src/main/java/
src/main/resources/static/
