<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codeorder.mapper.DishMapper" >
  <resultMap id="BaseResultMap" type="com.codeorder.pojo.Dish" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="Price" property="price" jdbcType="DOUBLE" />
    <result column="Detail" property="detail" jdbcType="VARCHAR" />
    <result column="CategoryId" property="categoryId" jdbcType="INTEGER" />
    <result column="Picture" property="picture" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <select id="queryAllDish" resultType="com.codeorder.pojo.Dish">
    select * from dish
  </select>

  <select id="queryDishByCategoryId" resultType="com.codeorder.pojo.Dish">
    select * from dish where categoryId = #{categoryId}
  </select>

  <select id="queryDishByDishId" resultType="com.codeorder.pojo.Dish">
    select * from dish where id = #{id}
  </select>

  <select id="queryDishByDishName" resultType="com.codeorder.pojo.Dish">
    select * from dish where name = #{name}
  </select>

  <!--菜品名和菜品分类组合查询-->
  <select id="queryDishByCategoryAndName" resultType="com.codeorder.pojo.Dish">
    select * from dish d
    where 1 = 1
    <choose>
      <when test="categoryId == 0 and name !=null">
        and d.name like "%"#{name,jdbcType=VARCHAR}"%"
      </when>
      <when test="categoryId !=0 and name == null">
        and d.categoryId = #{categoryId}
      </when>
      <otherwise>
        and d.name like "%"#{name,jdbcType=VARCHAR}"%" and d.categoryId = #{categoryId}
      </otherwise>
    </choose>
  </select>

  <insert id="addDish" parameterType="com.codeorder.pojo.Dish" useGeneratedKeys="true" keyProperty="id">
    insert into dish (name,price,detail,categoryId,picture,status)
    values (#{name},#{price},#{detail},#{categoryId},#{picture},#{status})
  </insert>

  <delete id="deleteDishById" parameterType="int">
    delete from dish where id = #{id}
  </delete>

  <!--通过菜品分类删除菜品-->
  <delete id="deleteDishByCategoryId" parameterType="int">
    delete from dish where categoryId = #{categoryId}
  </delete>

  <update id="updateDish" parameterType="com.codeorder.pojo.Dish" >
    update dish set name = #{name} , price = #{price} , detail = #{detail} , categoryId = #{categoryId} ,picture = #{picture} ,status = #{status}
    where id = #{id}
  </update>

</mapper>