<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codeorder.mapper.OrderListMapper" >
  <resultMap id="BaseResultMap" type="com.codeorder.pojo.OrderList" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="OrderId" property="orderId" jdbcType="INTEGER" />
    <result column="DishId" property="dishId" jdbcType="INTEGER" />
    <result column="Quantity" property="quantity" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <!-- 添加订单项-->
  <insert id="placeOrderList" parameterType="com.codeorder.pojo.OrderList" useGeneratedKeys="true" keyProperty="id">
    insert into orderlist (orderId,dishId,quantity,status)
    values (#{orderId},#{dishId},#{quantity},#{status})
  </insert>

  <!--查看订单详情-->
  <select id="queryOrderByOrderId" resultType="com.codeorder.pojo.OrderList">
    select * from orderlist where orderId = #{orderId}
  </select>
</mapper>