<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codeorder.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.codeorder.pojo.Order" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Number" property="number" jdbcType="VARCHAR" />
    <result column="TableNum" property="tableNum" jdbcType="INTEGER" />
    <result column="Date" property="createTime" jdbcType="DATE" />
    <result column="Price" property="price" jdbcType="DOUBLE" />
    <result column="PayStatus" property="payStatus" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <!--按照时间段查询订单-->
  <select id="queryOrderByTime" resultType="com.codeorder.pojo.Order">
  select * from `order`
  <where>
    <if test="startTime != null and startTime !=''">
      createDate &gt; #{startTime,jdbcType=DATE}
    </if>
    <if test="endTime != null and endTime !=''">
      createDate &lt; #{endTime,jdbcType=DATE}
    </if>
  </where>
  </select>
  <!--查询全部订单-->
  <select id="queryAllOrder" resultType="com.codeorder.pojo.Order">
    select * from `order`
  </select>
  <select id="queryById" resultType="com.codeorder.pojo.Order">
    select * from `order` where `number` = #{orderId}
  </select>
  <!--改变订单状态-->
  <update id="changeStatus" parameterType="com.codeorder.pojo.Order" >
    update `order` set `status`= #{status}
    where `number`= #{number}
  </update>
  <!--通过number查id-->
  <select id="getOrderIdByNumber" resultType="int">
  select id from `order`
  where `number` = #{number}
  </select>
</mapper>